.cv {
  dl, dl.emph dd {
    font-size: 1rem;
  }

  section {
    line-height: 1.5;

    font-size: 13pt;

    h3 {
      font-size: 15pt;
      font-weight: normal;
    }

    p, dl {
      margin-bottom: 0.2em;
    }

    ul {
      margin-left: 2em;
    }

    .info {
      font-size: $small-font-size;
      .period {
        &:not(.period-only)::after {
          content: " | ";
        }
      }
      .location {
        font-style: italic;
      }
    }

    .note {
      font-style: italic;
      font-size: 0.8em;
    }
  }
}
